body {
  width: 100%;
  height: 100%;
  background-color: #000 !important;
}

#tokenomics {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("https://ak0.picdn.net/shutterstock/videos/24653660/thumb/1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.content-carrousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.content-carrousel figure {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 176px;
  height: 99px;
  background: #000;
  border: 1px solid #3b444b;
  overflow: hidden;
  padding: 0;
}

.content-carrousel figure.open {
  width: 100%;
  height: 100%;
  padding: 2em;
  -webkit-transition-property: padding, width, height;
  transition-property: padding, width, height;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
}

.content-carrousel figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.content-carrousel figure:not(.open):hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.closeImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 4em;
  height: 4em;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.closeImage.open {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 750ms 750ms;
  transition: -webkit-transform 750ms 750ms;
  transition: transform 750ms 750ms;
  transition: transform 750ms 750ms, -webkit-transform 750ms 750ms;
  cursor: pointer;
}

.closeImage::before,
.closeImage::after {
  content: '';
  position: absolute;
  top: 2em;
  left: 2em;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 5px;
  width: 2px;
  height: 2em;
  background: white;
}

.closeImage::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.closeImage::after {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.closeImage:hover::before,
.closeImage:hover::after {
  background: red;
}
